@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&family=Libre+Franklin:ital,wght@0,100;0,200;0,400;1,100&family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 10%;
}

.section {
  border: 2px solid lightslategray;
  padding: 10px;
  margin: 10px auto;
}

/* Colors */
.color-pallete {
  width: 100%;
}

.color-box {
  width: 19.5%;
  min-height: 350px;
  margin: 20px auto;
  text-align: center;
  display: inline-block;
}

.crimson {
  background-color: #AA706A;
  color: whitesmoke;
}

.satin {
  background-color: #F4DBC9;
  color: grey;
}

.lavender {
  background-color: #BCAFBD;
  color:#F9F6E4;
}

.linen {
  background-color: #F9F6E4;
  color: grey;
}

.crepe {
  background-color: #EFE4E6;
  color: grey;
}

.color-description p {
  margin-bottom: -0.7em;
}

/* Fonts */
/* Inner element, only two divs in a row */
.font-description { 
  width: 45%;
  display: inline-block;
}

.inter {
  font-family: 'Inter';
}

.libre-franclin {
  font-family: 'Libre Franclin';
}

.roboto {
  font-family: 'Roboto';
}

.font-label {
  font-size: 20px;
  text-decoration: underline;
}

.regular {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}


/* Font styles */
.style-description {
  height: 130px;
}

#h3-roboto {
  font-family: 'Roboto', sans-serif;
}

#h3-inter {
  font-family: 'Inter', sans-serif;
}

#h3-franclin {
  font-family: 'Libre Franclin';
}

#span-roboto {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  font-size: 20xp;
}

#span-libre {
  font-family: 'Libre Franclin';
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
}

#span-inter {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}